<div tabindex="-1">
<form #form="ngForm" (ngSubmit)="drawOnCanvas(form.value)">
  <div class="modal-header bg-primary text-white">
    <h4 class="modal-title" id="modal-basic-title">Add New Meme</h4>
    <button
      type="button"
      class="btn-close text-white"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
            <div class="form-group mb-1">
              <input
                class="form-control"
                [(ngModel)]="title"
                placeholder="Title"
              />
            </div>
            <div class="form-group mb-1">
              <textarea
                class="form-control"
                [(ngModel)]="description"
                placeholder="Description"
              ></textarea>
            </div>
            <div class="form-group mb-1">
              <input
                class="form-control"
                type="file"
                id="formFile"
                onchange="preview()"
              />
            </div>
            <div class="form-group mb-1">
              <select class="form-control" [(ngModel)]="imageName">
                <option disabled selected>Choose From Our Gallery:</option>
                <option>Surprised Pikachu</option>
                <option>Crying Pepe</option>
                <option>Denerys</option>
              </select>
            </div>
            <div class="form-group mb-1">
              <input
                name="imageUrl"
                placeholder="Upload Via Url"
                ngModel
                required
                type="text"
                class="form-control"
                id="imageUrl"
              />
            </div>
            <div class="form-group mb-1">
                <input
                placeholder="text on top"
                  required
                  ngModel
                  type="text"
                  class="form-control"
                  name="textOnTop"
                  id="textOnTop"
                />
            </div>
            <div class="form-group mb-1">
                <input
                  placeholder="text on bottom"
                  type="text"
                  required
                  ngModel
                  class="form-control"
                  name="textOnBottom"
                  id="textOnBottom"
                />
            </div>
            <div class="form-group mb-1">
              <label>Top Text: </label>
              <input class="form-control" [(ngModel)]="topText" name="topText" />
            </div>
            <div class="form-group mb-1">
              <label>Bottom Text: </label>
              <input class="form-control" [(ngModel)]="bottomText" name="bottomText" />
            </div>
        </div>
        <div class="col-md-6">
          <div style="background-color: {{color}}">
            <h2 style="text-align: center; color: white; padding-top: 1em">
              {{ topText }}
            </h2>
            <img
              [src]="changeImage()"
              class="img-responsive rounded"
              width="200"
              height="200"
              style="
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
              "
            />
            <h2 style="text-align: center; color: white; padding-bottom: 1em">
              {{ bottomText }}
            </h2>
          </div>
          <label for="exampleColorInput" class="form-label">Background Color</label>
          <input
          [(ngModel)]="color"
            type="color"
            class="form-control form-control-color"
            id="exampleColorInput"
            value="#563d7c"
            title="Choose your color"
          />
          <div class="col-md-4" *ngFor="let image of images">
            <div class="thumbnail">
              <img [src]="image" alt="Lights" style="width: 100%" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
    [disabled]="form.invalid"
    type="submit"
    class="btn btn-primary"
  >
    Add Memes
  </button>
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="activeModal.close('Save click')"
    >
      Save
    </button>
    <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Save click')"
  >
    Cancel
  </button>
  </div>
</form>
</div>
