i{
    font-size: 30px;
    cursor: pointer;
    padding: 8px;
    border-radius: 25px;
    margin: 12px;
    color: grey;
}

.link:hover{
    background-color: #0E76A8;
    color: white;
    transition: 0.5s all ease-in;
}

.github:hover{
    background-color: #000000;
    color: white;
    transition: 0.5s all ease-in;
}

.email:hover{
    background-color: orange;
    color: white;
    transition: 0.5s all ease-in;
}

a{
    text-decoration: none;
}

.imgs {
    display: flex;
   gap: 20px;
   justify-content: center;
}

.imgs img{
  
}