<div class="container p-0 my-3">
  <nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <div class="container-fluid">
      <a
        routerLink="/"
        (click)="isMenuCollapsed = true"
        class="nav-link text-primary navbar-brand font"
        >Memely;</a
      >

      <div class="d-flex order-md-2">
        <button
          class="navbar-toggler me-2"
          type="button"
          (click)="isMenuCollapsed = !isMenuCollapsed"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <fa-icon [icon]="['fas', 'bars']" class="fs-1"></fa-icon>
        </button>
        <app-profile-dropdown></app-profile-dropdown>
      </div>
      <div
        [ngbCollapse]="isMenuCollapsed"
        class="collapse navbar-collapse order-md-1 text-primary md-mt-0"
      >
        <ul class="nav nav-pills navbar-nav me-auto">
          <li class="nav-item">
            <a
              routerLink="/"
              (click)="isMenuCollapsed = true"
              class="nav-link text-primary"
              routerLinkActive="active text-white"
              [routerLinkActiveOptions]="{ exact: true }"
              ariaCurrentWhenActive="page"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              routerLink="/about"
              (click)="isMenuCollapsed = true"
              class="nav-link text-primary"
              routerLinkActive="active text-white"
              [routerLinkActiveOptions]="{ exact: true }"
              ariaCurrentWhenActive="page"
              >About</a
            >
          </li>
          <li class="nav-item">
            <a
              routerLink="/contact"
              (click)="isMenuCollapsed = true"
              class="nav-link text-primary"
              routerLinkActive="active text-white"
              [routerLinkActiveOptions]="{ exact: true }"
              ariaCurrentWhenActive="page"
              >Contact</a
            >
          </li>
          <li class="nav-item">
            <a
              routerLink="/documentation"
              (click)="isMenuCollapsed = true"
              class="nav-link text-primary"
              routerLinkActive="active text-white"
              [routerLinkActiveOptions]="{ exact: true }"
              ariaCurrentWhenActive="page"
              >Documentation</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
