<div class="container d-flex align-items-center justify-content-center">
  <div class="text-center row">
    <div class="col-md-6">
      <img
        height="500px"
        class=""
        src="https://c.tenor.com/dRkhVCy5AUQAAAAd/nope-baby.gif"
        alt=""
      />
    </div>
    <div class="col-md-6 mt-5">
      <h1 class="display-1 fw-bold text-primary">404</h1>
      <p class="fs-3"><span class="text-danger">Opps!</span> Page not found.</p>
      <p class="lead">The page you’re looking for doesn’t exist.</p>
      <a routerLink="/" class="btn btn-primary">Go Home</a>
    </div>
  </div>
</div>
