<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-header bg-primary text-white text-center">
          <h2 class="card-title text-center my-3 fw-bold fs-2">
            Successfully Signed Out.
          </h2>
          <p>Take Care, See You Soon!</p>
        </div>
        <div class="card-body d-flex gap-2 justify-content-center p-4 p-sm-5">
          <a routerLink="/" class="btn btn-primary">Go Main Page</a>
          <a routerLink="/auth/sign-in" class="btn btn-outline-primary">Sign In Again</a>
        </div>
      </div>
    </div>
  </div>
</div>
