<footer class="py-3 container text-center bg-primary mb-2 rounded-bottom">
  <div class="footer-social mt-3">
    <a
      class="text-white mx-2 mb-2"
      href="http://"
      target="_blank"
      rel="noopener noreferrer"
    >
      <fa-icon [icon]="['fab', 'linkedin']" size="2x"></fa-icon>
    </a>
    <a
      class="text-white mx-2 mb-2"
      href="http://"
      target="_blank"
      rel="noopener noreferrer"
    >
      <fa-icon [icon]="['fab', 'twitter']" size="2x"></fa-icon>
    </a>
    <a
      class="text-white mx-2 mb-2"
      href="https://github.com/n4j1Br4ch1D/memely"
      target="_blank"
      rel="noopener noreferrer"
    >
      <fa-icon [icon]="['fab', 'github']" size="2x"></fa-icon>
    </a>
    <a
      class="text-white mx-2 mb-2"
      href="http://"
      target="_blank"
      rel="noopener noreferrer"
    >
      <fa-icon [icon]="['fab', 'facebook']" size="2x"></fa-icon>
    </a>
    <a
      class="text-white mx-2 mb-2"
      href="http://"
      target="_blank"
      rel="noopener noreferrer"
    >
      <fa-icon [icon]="['fab', 'instagram']" size="2x"></fa-icon>
    </a>
    <a
      class="text-white mx-2 mb-2"
      href="http://"
      target="_blank"
      rel="noopener noreferrer"
    >
      <fa-icon [icon]="['fab', 'discord']" size="2x"></fa-icon>
    </a>
    <a
      class="text-white mx-2 mb-2"
      href="http://"
      target="_blank"
      rel="noopener noreferrer"
    >
      <fa-icon [icon]="['fab', 'youtube']" size="2x"></fa-icon>
    </a>
  </div>

  <div class="mt-4">
    <a
      routerLink="/use-terms"
      routerLinkActive="active text-white"
      [routerLinkActiveOptions]="{ exact: true }"
      ariaCurrentWhenActive="page"
      class="text-white text-decoration-none me-3"
      >Use Terms</a
    >
    <a
      routerLink="/privacy-policy"
      routerLinkActive="active text-white"
      [routerLinkActiveOptions]="{ exact: true }"
      ariaCurrentWhenActive="page"
      class="text-white text-decoration-none"
      >Privacy Policy</a
    >
  </div>

  <p class="text-white mt-3">
    © 2022 Memely,
    <a class="text-white" target="_blank" href="https://anmoon.ma?ref=memely"
      >ANMOON</a
    >
  </p>
</footer>
<app-new-meme *ng-if="status"></app-new-meme>
