<footer class="py-3 container text-center bg-primary mb-2 rounded-bottom">
     
    <div class="footer-social">
        <a class="text-white mx-2 mb-2" href="http://" target="_blank" rel="noopener noreferrer">
            <fa-icon [icon]="['fab', 'linkedin']" size="2x"></fa-icon>
        </a>
        <a class="text-white mx-2 mb-2" href="http://" target="_blank" rel="noopener noreferrer">
            <fa-icon [icon]="['fab', 'twitter']" size="2x"></fa-icon>
        </a>
        <a class="text-white mx-2 mb-2" href="https://github.com/n4j1Br4ch1D/memely" target="_blank" rel="noopener noreferrer">
            <fa-icon [icon]="['fab', 'github']" size="2x"></fa-icon>
        </a>
        <a class="text-white mx-2 mb-2" href="http://" target="_blank" rel="noopener noreferrer">
            <fa-icon [icon]="['fab', 'facebook']" size="2x"></fa-icon>
        </a>
        <a class="text-white mx-2 mb-2" href="http://" target="_blank" rel="noopener noreferrer">
            <fa-icon [icon]="['fab', 'instagram']" size="2x"></fa-icon>
        </a>
        <a class="text-white mx-2 mb-2" href="http://" target="_blank" rel="noopener noreferrer">
            <fa-icon [icon]="['fab', 'discord']" size="2x"></fa-icon>
        </a>
        <a class="text-white mx-2 mb-2" href="http://" target="_blank" rel="noopener noreferrer">
            <fa-icon [icon]="['fab', 'youtube']" size="2x"></fa-icon>
        </a>
      </div>

    <p class="text-white mt-5">© 2022 Memely, <a class="text-white"  target="_blank" href="https://anmoon.ma?ref=memely">ANMOON</a></p>
</footer>