<div class="container p-0 my-3">
  <ul class="nav nav-pills">
    <li class="nav-item ms-0">
      <a routerLink="/" class="nav-link navbar-brand font">Memely</a>
    </li>
    <li class="nav-item">
      <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
      ariaCurrentWhenActive="page">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="/about" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
      ariaCurrentWhenActive="page">About</a>
    </li>
  </ul>
</div>