<app-navbar></app-navbar>
<div class="container mt-5 mb-5 d-flex justify-content-center">
    <div class="container card rounded">
        <div class=" d-block justify-content-center">
            <div class="area1 p-3 py-5 bg-primary"> </div>
            <div class="area2 p- text-center">
                <div class="image mr-3"> 
                  <div class="d-flex justify-content-between mb-5">
                    <div class="col-4 justify-content-start text-start pt-5 mt-5">
                        <ul class="list-icons">
                            <li class="facebook">
                                <a href="http://" target="_blank" rel="noopener noreferrer">
                                    <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
                                </a>
                            </li> 
                            <li class="youtube">
                                <a href="http://" target="_blank" rel="noopener noreferrer">
                                    <fa-icon [icon]="['fab', 'youtube']"></fa-icon>
                                </a>
                            </li>
                            <li class="instagram">
                                <a href="http://" target="_blank" rel="noopener noreferrer">
                                    <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
                                </a>
                            </li>
                            <li class="whatsapp">
                                <a href="http://" target="_blank" rel="noopener noreferrer">
                                    <fa-icon [icon]="['fab', 'whatsapp']"></fa-icon>
                                </a>
                            </li>
                            <li class="pinterest">
                                <a href="http://" target="_blank" rel="noopener noreferrer">
                                    <fa-icon [icon]="['fab', 'pinterest']"></fa-icon>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <img src="https://avatars.githubusercontent.com/u/38995898?v=4" class="rounded-circle" width="100" />
                        <h4 class="name mt-3 ">NajibRachid</h4>
                        <p class="information mt-3 text-justify">
                            Frelance Full-Stack Web Developer
                        </p>
                        <div class="mt-3">
                            <button class="btn btn-primary me-1">Follow</button>
                            <button class="btn btn-outline-primary">
                                <fa-icon [icon]="['fas', 'thumbs-up']" class="ms-1"></fa-icon>
                                451
                            </button>
                        </div>
                    </div>
                    <div class="col-4 text-end pt-5 mt-4">
                        <div >
                            <a routerLink="/notifications" class="btn btn-outline-primary me-2">
                                <fa-icon [icon]="['fas', 'bell']"></fa-icon>
                            </a>
                            <a routerLink="/settings" class="btn btn-outline-primary">
                                <fa-icon [icon]="['fas', 'gears']"></fa-icon>

                            </a>
                        </div>
                    </div>
                  </div>
           


                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                          <a routerLink="/" class="nav-link text-primary" routerLinkActive="active text-white" [routerLinkActiveOptions]="{ exact: true }"
                          ariaCurrentWhenActive="page">My Memes</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/favorits" class="nav-link text-primary" routerLinkActive="active text-white" [routerLinkActiveOptions]="{ exact: true }"
          ariaCurrentWhenActive="page">My Favorites</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/reactions" class="nav-link text-primary" routerLinkActive="active text-white" [routerLinkActiveOptions]="{ exact: true }"
          ariaCurrentWhenActive="page">My Reactions</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/followings" class="nav-link text-primary" routerLinkActive="active text-white" [routerLinkActiveOptions]="{ exact: true }"
          ariaCurrentWhenActive="page">My Followings</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/followers" class="nav-link text-primary" routerLinkActive="active text-white" [routerLinkActiveOptions]="{ exact: true }"
          ariaCurrentWhenActive="page">My Followers</a>
                        </li>
                      </ul>
           </div>
                <div> </div>
            </div>
        </div>
    </div>
</div>


<router-outlet></router-outlet>
<app-footer></app-footer>