<form>
  <div class="d-flex justify-content-between">
    <div class="d-flex gap-2 align-items-baseline">
      <button
        (click)="collapse.toggle(); form('new', null)"
        [attr.aria-expanded]="!isCollapsed"
        [attr.aria-expanded]="!isCollapsed"
        type="button"
        class="btn btn-outline-primary d-flex"
        [ngClass]="isCollapsed ? '' : 'active'"
      >
        <fa-icon
          [icon]="['fas', 'square-plus']"
          size="1x"
          class="me-1"
        ></fa-icon>
        New
      </button>
      <div class="input-group">
        <input
          id="table-complete-search"
          type="text"
          placeholder="Full text search:"
          class="form-control"
          name="searchTerm"
          [(ngModel)]="service.searchTerm"
        />
        <div class="input-group-text bg-white">
          <span *ngIf="service.loading$ | async">
            <fa-icon
              [icon]="['fas', 'spinner']"
              size="1x"
              class="text-primary"
            ></fa-icon>
          </span>
          <span *ngIf="!(service.loading$ | async)">
            <fa-icon [icon]="['fas', 'magnifying-glass']" size="1x"></fa-icon>
          </span>
        </div>
      </div>
    </div>
    <div class="mb-3 d-flex gap-2">
      <select
        class="form-select"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="service.filterRole"
        aria-label="select role"
      >
        <option value="" selected>Any Role</option>
        <option value="ROLE_ADMIN">Admin</option>
        <option value="ROLE_CLIENT">Client</option>
      </select>
      <select class="form-select" aria-label="select status">
        <option selected>Any Status</option>
        <option value="1">True</option>
        <option value="2">False</option>
      </select>
    </div>
  </div>

  <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div class="mb-3">
      <div class="card border-primary">
        <div class="card-header">
          <h6>Add New Profile {{ profile?.username }}</h6>
        </div>
        <div class="card-body">
          You can collapse this card by clicking Toggle
          <input type="text" />
        </div>
      </div>
    </div>
  </div>

  <div></div>
  <div class="border border-2 rounded rounded-3 p-1">
    <table
      class="table table-responsive table-striped rounded rounded-3 overflow-hidden p-1"
    >
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" sortable="username" (sort)="onSort($event)">
            <fa-icon [icon]="['fas', 'sort']" size="1x"></fa-icon>
            username
          </th>
          <th scope="col" sortable="fullName" (sort)="onSort($event)">
            <fa-icon [icon]="['fas', 'sort']" size="1x"></fa-icon>
            full name
          </th>
          <th scope="col" sortable="email" (sort)="onSort($event)">
            <fa-icon [icon]="['fas', 'sort']" size="1x"></fa-icon>
            email
          </th>
          <th scope="col" class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let profile of profiles$ | async">
          <th scope="row">{{ profile.id }}</th>
          <td>
            <img
              [src]="profile.avatar"
              class="me-2 rounded-circle"
              style="width: 24px"
            />
            <ngb-highlight
              [result]="profile.username"
              [term]="service.searchTerm"
            ></ngb-highlight>
          </td>
          <td>
            <ngb-highlight
              [result]="profile.fullName"
              [term]="service.searchTerm"
            ></ngb-highlight>
          </td>
          <td>
            <ngb-highlight
              [result]="profile.email"
              [term]="service.searchTerm"
            ></ngb-highlight>
          </td>
          <td class="d-flex gap-1">
            <button class="btn btn-outline-primary ms-auto"             [ngbPopover]="popContent" [popoverTitle]="popTitle" placement="start"
            [ngbPopover]="popContent" [popoverTitle]="popTitle" placement="start"
            >
              <fa-icon [icon]="['far', 'eye']" size="1x"></fa-icon>
            </button>

            <ng-template #popContent>Hello, <b>yes</b>!</ng-template>
            <ng-template #popTitle>Fancy <b>content!!</b></ng-template>
        

            <button
              (click)="collapse.toggle(true); form('autofocus', profile)"
              class="btn btn-outline-info"
            >
              <fa-icon [icon]="['far', 'pen-to-square']" size="1x"></fa-icon>
            </button>
            <button
              (click)="delete('autofocus', profile)"
              class="btn btn-outline-danger"
            >
              <fa-icon [icon]="['far', 'trash-alt']" size="1x"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-between align-items-baseline p-2">
    <ngb-pagination
      [collectionSize]="(total$ | async)!"
      [(page)]="service.page"
      [pageSize]="service.pageSize"
    >
    </ngb-pagination>

    <select
      class="form-select"
      style="width: auto"
      name="pageSize"
      [(ngModel)]="service.pageSize"
    >
      <option [ngValue]="1">1 items per page</option>
      <option [ngValue]="5">5 items per page</option>
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="25">25 items per page</option>
      <option [ngValue]="50">50 items per page</option>
    </select>
  </div>
</form>
