<div class="flex text-end">
  <a class="btn btn-outline-primary ms-2">
    <fa-icon [icon]="['fas', 'chart-simple']" class="me-1" size="1x"></fa-icon>
  </a>
  <a class="btn btn-outline-primary ms-2">
    <fa-icon [icon]="['fab', 'google']" class="me-1" size="1x"></fa-icon>
  </a>
  <a class="btn btn-outline-primary ms-2">
    <fa-icon
      [icon]="['fab', 'yandex-international']"
      class="me-1"
      size="1x"
    ></fa-icon>
  </a>
  <a class="btn btn-outline-primary ms-2">
    <fa-icon [icon]="['fab', 'searchengin']" class="me-1" size="1x"></fa-icon>
  </a>
  <a class="btn btn-outline-primary ms-2">
    <fa-icon [icon]="['fas', 'rectangle-ad']" class="me-1" size="1x"></fa-icon>
  </a>
  <a class="btn btn-outline-primary ms-2">
    <fa-icon [icon]="['fab', 'cloudflare']" class="me-1" size="1x"></fa-icon>
  </a>
  <a class="btn btn-outline-primary ms-2">
    <fa-icon [icon]="['fab', 'github']" class="me-1" size="1x"></fa-icon>
  </a>
</div>
<div class="header-body mt-4">
  <div class="row">
    <div class="col-xl-2 col-lg-6">
      <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title fs-7 text-uppercase text-muted mb-0">
                Profiles
              </h5>
              <span class="h2 font-weight-bold mb-0">924</span>
            </div>
            <div class="col-auto">
              <div
                class="icon icon-shape bg-yellow text-white rounded-circle shadow"
              >
                <fa-icon
                  [icon]="['fas', 'users']"
                  class="text-primary p-1"
                  size="1x"
                ></fa-icon>
              </div>
            </div>
          </div>
          <p class="mt-3 mb-0 text-muted text-sm">
            <span class="text-warning mr-2"
              ><i class="fas fa-arrow-down"></i> 1.10%</span
            >
            <span class="text-nowrap">Since yesterday</span>
          </p>
        </div>
      </div>
      <div class="mt-2">
        <ul class="list-group">
          <li class="list-group-item disabled"># html</li>
          <li class="list-group-item"># php</li>
          <li class="list-group-item"># java</li>
          <li class="list-group-item"># linux</li>
          <li class="list-group-item"># frontend</li>
        </ul>
      </div>
    </div>
    <div class="col-xl-2 col-lg-6">
      <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title fs-7 text-uppercase text-muted mb-0">
                Memes
              </h5>
              <span class="h2 font-weight-bold mb-0">924</span>
            </div>
            <div class="col-auto">
              <div
                class="icon icon-shape bg-yellow text-white rounded-circle shadow"
              >
                <fa-icon
                  [icon]="['fas', 'images']"
                  class="text-primary p-1"
                  size="1x"
                ></fa-icon>
              </div>
            </div>
          </div>
          <p class="mt-3 mb-0 text-muted text-sm">
            <span class="text-warning mr-2"
              ><i class="fas fa-arrow-down"></i> 1.10%</span
            >
            <span class="text-nowrap">Since yesterday</span>
          </p>
        </div>
      </div>
      <div class="mt-2">
        <ul class="list-group">
          <li class="list-group-item disabled"># html</li>
          <li class="list-group-item"># php</li>
          <li class="list-group-item"># java</li>
          <li class="list-group-item"># linux</li>
          <li class="list-group-item"># frontend</li>
        </ul>
      </div>
    </div>
    <div class="col-xl-2 col-lg-6">
      <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title fs-7 text-uppercase text-muted mb-0">
                Tags
              </h5>
              <span class="h2 font-weight-bold mb-0">924</span>
            </div>
            <div class="col-auto">
              <div
                class="icon icon-shape bg-yellow text-white rounded-circle shadow"
              >
                <fa-icon
                  [icon]="['fas', 'hashtag']"
                  class="text-primary p-1"
                  size="1x"
                ></fa-icon>
              </div>
            </div>
          </div>
          <p class="mt-3 mb-0 text-muted text-sm">
            <span class="text-warning mr-2"
              ><i class="fas fa-arrow-down"></i> 1.10%</span
            >
            <span class="text-nowrap">Since yesterday</span>
          </p>
        </div>
      </div>
      <div class="mt-2">
        <ul class="list-group">
          <li class="list-group-item disabled"># html</li>
          <li class="list-group-item"># php</li>
          <li class="list-group-item"># java</li>
          <li class="list-group-item"># linux</li>
          <li class="list-group-item"># frontend</li>
        </ul>
      </div>
    </div>
    <div class="col-xl-2 col-lg-6">
      <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title fs-7 text-uppercase text-muted mb-0">
                Reactions
              </h5>
              <span class="h2 font-weight-bold mb-0">924</span>
            </div>
            <div class="col-auto">
              <div
                class="icon icon-shape bg-yellow text-white rounded-circle shadow"
              >
                <fa-icon
                  [icon]="['fas', 'message']"
                  class="text-primary p-1"
                  size="1x"
                ></fa-icon>
              </div>
            </div>
          </div>
          <p class="mt-3 mb-0 text-muted text-sm">
            <span class="text-warning mr-2"
              ><i class="fas fa-arrow-down"></i> 1.10%</span
            >
            <span class="text-nowrap">Since yesterday</span>
          </p>
        </div>
      </div>
      <div class="mt-2">
        <ul class="list-group">
          <li class="list-group-item disabled"># html</li>
          <li class="list-group-item"># php</li>
          <li class="list-group-item"># java</li>
          <li class="list-group-item"># linux</li>
          <li class="list-group-item"># frontend</li>
        </ul>
      </div>
    </div>
    <div class="col-xl-2 col-lg-6">
      <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title fs-7 text-uppercase text-muted mb-0">
                Contacts
              </h5>
              <span class="h2 font-weight-bold mb-0">924</span>
            </div>
            <div class="col-auto">
              <div
                class="icon icon-shape bg-yellow text-white rounded-circle shadow"
              >
              <fa-icon [icon]="['fas', 'envelope']"  class="text-primary p-1" size="1x"></fa-icon>
              </div>
            </div>
          </div>
          <p class="mt-3 mb-0 text-muted text-sm">
            <span class="text-warning mr-2"
              ><i class="fas fa-arrow-down"></i> 1.10%</span
            >
            <span class="text-nowrap">Since yesterday</span>
          </p>
        </div>
      </div>
      <div class="mt-2">
        <ul class="list-group">
          <li class="list-group-item disabled"># html</li>
          <li class="list-group-item"># php</li>
          <li class="list-group-item"># java</li>
          <li class="list-group-item"># linux</li>
          <li class="list-group-item"># frontend</li>
        </ul>
      </div>
    </div>
    <div class="col-xl-2 col-lg-6">
      <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title fs-7 text-uppercase text-muted mb-0">
                Notifications            
            </h5>
              <span class="h2 font-weight-bold mb-0">924</span>
            </div>
            <div class="col-auto">
              <div
                class="icon icon-shape bg-yellow text-white rounded-circle shadow"
              >
              <fa-icon [icon]="['fas', 'bell']"  class="text-primary p-1" size="1x"></fa-icon>
              </div>
            </div>
          </div>
          <p class="mt-3 mb-0 text-muted text-sm">
            <span class="text-warning mr-2"
              ><i class="fas fa-arrow-down"></i> 1.10%</span
            >
            <span class="text-nowrap">Since yesterday</span>
          </p>
        </div>
      </div>
      <div class="mt-2">
        <ul class="list-group">
          <li class="list-group-item disabled"># html</li>
          <li class="list-group-item"># php</li>
          <li class="list-group-item"># java</li>
          <li class="list-group-item"># linux</li>
          <li class="list-group-item"># frontend</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
    <div class="col-4">
      <div class="card bg-primary mb-4" >
        <div class="d-flex align-items-end row">
          <div class="col-sm-7">
            <div class="card-body">
              <h5 class="card-title text-white">Congratulations Najib! 🎉</h5>
              <p class="mb-4">You have <span class="fw-bold">2</span> New Pull Request today.
                Keep On the Good Work.</p>
              <a href="javascript:;" class="btn btn-sm btn-outline-light">View Badges</a>
            </div>
          </div>
          <div class="col-sm-5 text-center text-sm-left">
            <div class="card-body pb-0 px-0 px-md-4">
              <img  class="img-fluid" src="https://demos.themeselection.com/sneat-bootstrap-html-admin-template-free/assets/img/illustrations/man-with-laptop-light.png">
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div>
          <canvas baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [type]="barChartType">
          </canvas>
        </div>
        <button class="btn btn-primary mt-4"  (click)="randomize()">Update</button>  
      </div>
   </div>
   <div class="col-4">
    <div class="card">
      <div>
        <canvas baseChart
        [data]="polarAreaChartData"
        [legend]="polarAreaLegend"
        [type]="polarAreaChartType">
      </canvas>
      </div>
    </div>
 </div>
 <div class="col-4">
  <div class="card">
    <div>
      <canvas baseChart
        [data]="radarChartData"
        [options]="radarChartOptions"
        [type]="radarChartType">
      </canvas>
    </div>
  </div>
</div>
</div>

<div class="d-none">
  profiles Number (today)(active/ not active)
  <hr />
  memes Number(gif/ img) created using tool
  <hr />
  tags number
  <hr />
  reactions
  <hr />
  contacts (today)(open/closed)
  <hr />
  notifcations
  <hr />
  RadarChart

tags reactions number:

PolarAreaChart

tags memes number:

BarChart

Both
</div>
