<div class="container bg-primary bg-gradient border rounded-3 shadow py-4">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-8">
      <div class="search">
        <input
          #keyword
          type="text"
          class="form-control"
          placeholder="Looking For Funny Programming Memes?"
        />
        <button (click)="search(keyword.value)" class="btn text-white bg-primary bg-gradient">
          <i class="fa-solid fa-magnifying-glass me-1"></i> Search
        </button>
      </div>
    </div>
  </div>
  <div id="terms" class="d-flex gap-3 justify-content-center mt-3">
    <button type="button" (click)="search('Java')" class="btn btn-secondary">Java</button>
    <button type="button" (click)="search('Javascript')" class="btn btn-secondary">Javascript</button>
    <button type="button" (click)="search('Python')" class="btn btn-secondary">Python</button>
    <button type="button" (click)="search('PHP')" class="btn btn-secondary">PHP</button>
    <button type="button" (click)="search('HTML')" class="btn btn-secondary">HTML</button>
  </div>
</div>
